.container{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  padding: 2rem 1rem;

}

.introPage{
  padding: 2rem;
  /* height: 35rem; */
  width: 80%

}
.quizPage{
  /* padding: 0 2rem; */
 display: flex;
 flex-direction: column;
 align-items: center;
}
@media only screen and (max-width: 600px){
  .container{
    overflow: hidden;
    align-items: center;
  }
  .introPage{
    /* overflow: hidden; */
    margin-top: 1rem;
  }
}